* {
    margin: 0;
    padding: 0;
    font-family: "Feather Bold";
  }

.navbar{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1.7px solid rgb(202, 202, 202);
}

.navlogo{
  height: 30px;
  width: 30px;
}

.navleft{
  display: flex;
  align-items: center;
}
.navleft a{
  font-size: 25px;
  text-decoration: none;
  color: #58CC02;
}

.navright{
  display: flex;
  align-items: center;
}

.navright a{
  margin: 10.5px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(177, 177, 177);
}

.gsbox{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 250px;
}

.gsbuttons{
  margin: 15px;
  font-size: 14px;
  text-decoration: none;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.gsbutton1{
  background-color: limegreen;
  color: white;
  border-bottom: 3px solid green;
}

.gsbutton2{
  background-color: white;
  color: rgb(0, 153, 255); 
  border-top: 1px solid rgb(202, 202, 202);
  border-bottom: 3px solid rgb(202, 202, 202);
  border-left: 1px solid rgb(202, 202, 202);
  border-right: 1px solid rgb(202, 202, 202);
}